<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hra</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/circle.svg') }}">
    <link rel="stylesheet" href="/static/css/styly.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="indexbody play">
    <h1>Piškvorky</h1>

   
    <div class="nav">
      <div class="player">
        HRAJE:
        <div class="cssCircle"></div>
      </div>

      <div class="game-icons">
        <a href="/index" class="home rules">
          <img src="/static/images/home.svg" alt="domecek" />
        </a>

        <a href="/hra" class="start restart">
          <img src="/static/images/restart.svg" alt="restart" />
        </a>
      </div>
    </div>

    <div class="grid">
      <div class="gridRow">
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>      
    </div>
    <div class="gridRow">
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>
      <button class="square"></button>      
  </div>
  <div class="gridRow">
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>
    <button class="square"></button>      
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>      
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>      
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>      
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>      
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>      
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>       
</div>
<div class="gridRow">
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>
  <button class="square"></button>      
</div>

    <script src="/static/js/hra-classes.js"></script>
    <script src="/static/js/hra-p1.js"></script>
  </body>
</html>
