<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hra</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='home.svg') }}">
    <link rel="stylesheet" href="/static/css/styly.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="indexbody play">
    <h1>Piškvorky</h1>
    <div id="img"></div>

    <div id="gameIDdiv">
      <p>Odkaz pro druhého hráče:</p>
      <input type="text" value="0" id="gameLink">
      <div class="tooltip">
        <button onclick="copyButton();" onmouseout="outFunc()">
          <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
          <img src="static/images/copy.png" width="24px" >
          </button>
        </div>
        <br>
      <button id="okBtn">Zahájit hru</button>
    </div>
    
    <div class="nav">
      <div>🠟 Odkaz přímo přes QR kód 🠟</div>
      <div class="player">
        
        
      </div>

      <div class="game-icons">
        <a href="/index" class="home rules">
          <img src="/static/images/home.svg" alt="domecek" />
        </a>

        <a href="/hra" class="start restart">
          <img src="/static/images/restart.svg" alt="restart" />
        </a>
      </div>
    </div>

    <div class="grid">
      
    </div>

    <script src="/static/js/hra-classes.js"></script>
    <script src="/static/js/hra.js"></script>
  </body>
</html>
